{% block content %}
	<section data-index="2" id="section2" class="page">
		<div class="tint"></div>

		{% for entry in craft.entries.section('aboutUs').find() %}
			{% for image in entry.images %}
				<div id="section2Background{{ loop.index - 1 }}" class="backgroundWrapper" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{image.url}}');
	  			background-position: center;"></div>
	  	{% endfor %}
	  	<div class="textWrapper">
		  	<h2 class="heading">{{craft.entries.section('aboutUS').find()[0].title}}</h2>
		  	
				<p class="largeText">{{ entry.paragraphs|split('</p>')|first()|striptags()}}</p>

				{% for paragraph in entry.paragraphs|split('</p>')|slice(1) %}
					{{paragraph|raw}}
				{% endfor %}
			</div>
		{% endfor %}
	</section>
{% endblock %}