<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="dcterms.Language" content="{{ craft.locale }}" />
	<meta name="description" content="{{ seomaticMeta.seoDescription }}"/>
	<meta name="keywords" content="{{ seomaticMeta.seoKeywords }}"/>
	<meta name="geo.placename" content="{{ seomaticIdentity.location.name }}"/>
	<meta name="dcterms.Publisher" content="{{ seomaticSiteMeta.siteSeoName }}" /> 
	<link rel="apple-touch-icon" sizes="57x57" href="{{ siteUrl }}assets/images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ siteUrl }}assets/images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ siteUrl }}assets/images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}assets/images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ siteUrl }}assets/images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ siteUrl }}assets/images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ siteUrl }}assets/images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ siteUrl }}assets/images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}assets/images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ siteUrl }}assets/images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ siteUrl }}assets/images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}assets/images/favicon-16x16.png">
	<link rel="manifest" href="{{ siteUrl }}js/libs/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ siteUrl }}assets/images/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
	<!-- viewport -->
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- Windows/IE font smoothing -->
	<meta http-equiv="cleartype" content="on">

	<!-- Use latest IE randering engine and switch on chrome Frame if available -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- CSS -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">

	<link href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/styles/styles.css">
	<script type="text/javascript" src="{{ siteUrl }}assets/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{ siteUrl }}assets/js/jquery.onepage-scroll.min.js"></script>
	<script src='//api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js' charset='utf-8'></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.js'></script>
</head>

<body>
	<div id="container">
		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>
	</div>
	<script type="text/javascript" src="{{ siteUrl }}assets/js/scripts.min.js"></script>
</body>
</html>
