<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/styles/styles.css">
	<script type="text/javascript" src="{{ siteUrl }}assets/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{ siteUrl }}assets/js/jquery.onepage-scroll.min.js"></script>
	<script src='//api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js' charset='utf-8'></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.js'></script>
</head>

<body>
	<div id="container">
		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>
	</div>
	<script type="text/javascript" src="{{ siteUrl }}assets/js/scripts.min.js"></script>
</body>
</html>
