{% extends "_layout" %}
	
	{% set tweets = craft.twitter.get('https://api.twitter.com/1.1/statuses/user_timeline.json?exclude_replies=true?screen_name=FantastecSport') %}

	{% block content %}
		<div id="loading"></div>
		<div id="menuBlockOut" class="hidden"></div>

		<div>
			<button id="main-burger" class="burger">
				<span class="burger__piece"></span>
				<span class="burger__piece"></span>
				<span class="burger__piece"></span>
			</button>

			<nav id="mainNav">
				<a class="nav_link" data-index="1">home</a>
				<a class="nav_link" data-index="2">about</a>
				<a class="nav_link" data-index="3">innovate</a>
				<a class="nav_link" data-index="4">imagine</a>
				<a class="nav_link" data-index="5">work</a>
				<a class="nav_link" data-index="6">contact</a>
			</nav>
		</div>

		<div id="headerShape"></div>

		<div id="scrollerWrapper">
	    <section data-index="1" id="section1" class="page">
	    	<!-- <div class="tint"></div> -->
	    	<video id="video" muted autoplay="true" loop="true">
	    		<source src="{{ siteUrl }}assets/videos/landingVideo.webm" type="video/webm"/>
	    		<source src="{{ siteUrl }}assets/videos/landingVideo.mp4" type="video/mp4"/>
	    	</video>

	    	<div id="section1Background0" class="mobile-image backgroundWrapper" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/images/homepageMob/basketball.jpg');
  			background-position: center;"></div>
	    	<div id="section1Background1" class="mobile-image backgroundWrapper" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/images/homepageMob/football.jpg');
  			background-position: center;"></div>
	    	<div id="section1Background2" class="mobile-image backgroundWrapper" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/images/homepageMob/tennis.jpg');
  			background-position: center;"></div>
	    	<div id="section1Background3" class="mobile-image backgroundWrapper" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/images/homepageMob/baseball.jpg');
  			background-position: center;"></div>
	    	<div id="section1Background4" class="mobile-image backgroundWrapper" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/images/homepageMob/fan.jpg');
  			background-position: center;"></div>

	 			<div id="canvasWrapper">
	 				<canvas id="canvas"></canvas>
	 			</div> 	
	    </section>

	    {% include "about-us/_partial.html" %}
	    {% include "how-we-innovate/_partial.html" %}
	    {% include "imagine-if/_partial.html" %}
	    {% include "work-with-us/_partial.html" %}
	    {% include "contact-us/_partial.html" %}

	  </div>

	  <div id="footer">

	  	{% if tweets %}
	  		<p class="tweet">{{tweets[0]|tweetLink|raw}}</p>	
			{% endif %}
	  	
	  	<div class="mediaWrapper">
	  		<a target="_blank" class="twitter" href="https://twitter.com/FantastecSport"></a>
	  		<a target="_blank" class="instagram" href="https://www.instagram.com/fantastecsport"></a>
	  		<a target="_blank" class="linkedIn" href="https://www.linkedin.com/company/fantastecsport"></a>
	  	</div>
	  </div>
	  <div id="downArrow" class="arrow"></div>
	  <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-106172674-1', 'auto');
		  ga('send', 'pageview');

		</script>
	{% endblock %}
